#spring.application.name=users
spring:
  application:
    name: users
  datasource:
    url: jdbc:postgresql://localhost:5432/users_demo
    username: embarkx
    password: embarkx
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: create

management:
  endpoints:
    web:
      exposure:
        #include: '*'
        include: beans, health
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true
  info:
    env:
      enabled: true

server:
  shutdown: graceful

info:
  app:
    name: ecomerce
    description: App built by us
    version: 1.0.0